.aboutme_intro-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutme_intro-layout div { padding-top: 30px; }

.aboutme_img {
    width: 200px;
    border-radius: 100%;
    animation: floating-animation 6s ease-in-out infinite; /*declarando o nome da animação*/
}
.aboutme_container p {
    font-family: var(--fonte-corpo);
    margin: 10px 0;
}
.btn-link {
    width: fit-content;
    padding: 20px 30px;
    border-radius: 30px;
    font-family: var(--fonte-corpo);
    background-color: var(--cor-principal-escuro-50);
}
.btn-link:hover {
    transform: translate(0, 5px) scale(0.98);
    background-color: var(--cor-principal-claro);
}

.aboutme_links-layout {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 50px;
}
/*criada novas classes para as redes sociais da página individual porque dava conflito com a classe do mesmo nome*/
.socialmedia_list--fix {
    display: flex;
    gap: 30px;
}
.socialmedia_item--fix img { 
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(62deg) brightness(111%) contrast(101%);
}
.socialmedia_item--fix img:hover {
    filter:invert(29%) sepia(21%) saturate(2166%) hue-rotate(261deg) brightness(91%) contrast(90%);
    transform: scale(0.95);
}

/*animação para a foto do aluno flutuar em loop*/
@keyframes floating-animation { 
    0% {
		box-shadow: 0 5px 15px 0px #00000099;
		transform: translateY(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px #00000033;
		transform: translateY(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px #00000099;
		transform: translateY(0px);
	}
}